<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .image-container {
      display: flex;
      flex-direction: column;
    }
    .image-item {
      display: inline-block;
      max-width: 650px;
      border: 1px solid #ccc; /* Add default border */
    }
    .image-item img {
      transition: transform 0.5s ease;
    }
    /* .image-item img:hover {
      transform: scale(1.2);
    } */

    .red { background-color: red; color: white; }
    .blue { background-color: blue; color: white; }
    .green { background-color: green; color: white; }
    .gray { background-color: gray; color: white; }
    .display1 {visibility: inherit; color:red;}
    .display0 {visibility: hidden;}

    label.red {color: red; background-color: transparent}
    label.green {color: green; ; background-color: transparent}

    .sub-images {
      display: none;
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7); 
      height: 100%;
      width: 100%;
      overflow: auto;
      backdrop-filter: blur(10px);
    }

    .sub-images.show {
      display: block ;
    }

    .child-containers {
      background-color: white;
      /* padding: 20px; */
      border-radius: 8px;
      overflow-y: auto;
      position:absolute;
      top:0;
      right:0;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    /* 对于移动设备，默认设置为100%宽度 */
    @media (max-width: 768px) {
        .child-containers {
            width: 99%;
        }
    }

    /* 对于桌面设备，设置为50%宽度 */
    @media (min-width: 769px) {
        .modal-content {
            width: 50%;
        }
    }

    .child-item {
      display: inline-block;
      max-width: 650px;
      border: 1px solid #ccc; /* Add default border */
      margin-left: 10px;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 40px;
      cursor: pointer;
      z-index:10;
    }
</style>
  <script>
    function setStatus(parent, code, value) {
      const today = new Date()
      const date_f = today.getFullYear() + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' 
      +  String(today.getDate()).padStart(2, '0') + ' ' + String(today.getHours()).padStart(2, '0');
      const date_value = value + '(' + date_f + ')'
      fetch('/setStatus', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ code: code, value:date_value,parent:parent })
      })
      .then(response => {
        response.text()
        
    })
      .then(data => {
      })
      .catch(error => {
        console.error('Error:', error);
      });

      // if (parent == ''){
      document.getElementById(code +'_label2').textContent = date_value  
      // } else {
      //   document.getElementById(`sub-images-${parent}`).textContent = date_value
      // }
    }

    async function loadSubImages(code) {
      const subImagesDiv = document.getElementById(`sub-images-${code}`);
      if (subImagesDiv.innerHTML !== '') {
          // 如果已经有内容，则直接展开
          toggleSubImages(code);
          return;
      }

      try {
        const response = await fetch(`/t?code=${code}`);
        if (!response.ok) throw new Error('Network response was not ok');

        const subImagesData = await response.json();
        const name = subImagesData.name
        const images = subImagesData.images
        let subImagesHtml = `<span class="close" onclick="closeModal('${code}')">&times;</span>`;
        subImagesHtml += `<div class="child-containers">`;
        if (images.length == 0) {
          subImagesHtml += `<label class="label1" style="display: block;">没有数据</label>`;
        } else {
          subImagesHtml += `<label class="label1" style="display: block;">总数量:${images.length}</label>`;
          images.forEach(image => {
          subImagesHtml += `<div class="child-item">`;
          subImagesHtml += `<img src="/images/${code}_details/${image.code}.png" alt="${image.code}">`;
          subImagesHtml += `<div class="content">`;
          subImagesHtml += `<label class="label1" style="display: block;">${name}</label>`;
          subImagesHtml += `<label class="label1 ${image.color}" style="display: block;">${image.name}</label>`;
          subImagesHtml += `<label class="label1" style="display: block;">当前选择状态：  '<label id="${image.code}_label2">${image.status}</label>'</label>`;
          subImagesHtml += `<button class="green" onclick="setStatus('${code}','${image.code}', '下降')">下降</button>`;  // 下降
          subImagesHtml += `<button class="blue" onclick="setStatus('${code}','${image.code}', '待定')">待定</button>`; // 待定
          subImagesHtml += `<button class="red" onclick="setStatus('${code}','${image.code}', '上升')">上升</button>`;  // 上升
          subImagesHtml += `</div>`
          subImagesHtml += `</div>`
          
          // subImagesHtml += `<img src="${subImage.url}" alt="Sub Image">`;
        });
        }
        
        subImagesHtml += `<div>`;
        subImagesDiv.innerHTML = subImagesHtml;

        // 加载完成后展开
        toggleSubImages(code);
      } catch (error) {
        console.error('There has been a problem with your fetch operation:', error);
      }
    }

    function toggleSubImages(code) {
        const subImagesDiv = document.getElementById(`sub-images-${code}`);
        subImagesDiv.classList.toggle('show');
    }

    function closeModal(code) {
      document.getElementById(`sub-images-${code}`).classList.toggle('show');
    }

  </script>
</head>
<body>
  <h1>Image Gallery</h1>
  <div class="image-container">
    <!-- <h3>行业排行榜</h3> -->
    <% images.forEach(function(image) { %>
      <div class="image-item">
        <img src="/images/<%= image.code %>.png" alt="<%= image.code %>">
        <div class="content">
          <label class="label1 <%=image.color%>" style="display: block;"><%=image.name%></label>
          <label class="label1"  style="display: block;">当前选择状态：  '<label id="<%=image.code%>_label2"><%=image.status%></label>'</label>
          <button class="green" onclick="setStatus('','<%= image.code %>', '下降')">下降</button>
          <button class="blue" onclick="setStatus('','<%= image.code %>', '待定')">待定</button>
          <button class="red" onclick="setStatus('','<%= image.code %>', '上升')">上升</button>
          <button class="gray" onclick="loadSubImages('<%= image.code %>')">展开</button>
        </div>
        <div class="sub-images" id="sub-images-<%= image.code %>"></div>
      </div>
    <% }) %>
  </div>
</body>
</html>
