<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .image-container {
      display: flex;
      flex-direction: column;
    }
    .image-item {
      display: inline-block;
      min-width: 575px;
      border: 2 solid green; /* Add default border */
    }

    .image-item:nth-child(even) {
      display: inline-block;
      min-width: 575px;
      border: 2px solid red; /* Add default border */
      background-color: #f5f7fa;
    }
    .image-item img {
      transition: transform 0.5s ease;
    }

    .red { background-color: red; color: white; }
    .blue { background-color: blue; color: white; }
    .green { background-color: green; color: white; }
    .gray { background-color: gray; color: white; }
    .display1 {visibility: inherit; color:red;}
    .display0 {visibility: hidden;}

    label.red {color: red; background-color: transparent}
    label.green {color: green; ; background-color: transparent}

    .image-item-container {
      display: none;
    }

    .image-item-container.show {
      display: inline-block ;
      border: 1px solid #2c3527; /* Add default border */
      /* max-width: 528px; */
      margin-left: 3px;
    }

    .child-item {
      display: inline-block;
      /* max-width: 530px; */
      border: 1px solid #ccc; /* Add default border */
      margin-left: 3px;
      margin-bottom: 5px;
    }

    .child-item:nth-child(even) {
      background-color: #c7c9c6;
    }


    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 40px;
      cursor: pointer;
      z-index:10;
    }

    
</style>
  <script>
    function setStatus(parent, code, value) {
      const today = new Date()
      const date_f = today.getFullYear() + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' 
      +  String(today.getDate()).padStart(2, '0') + ' ' + String(today.getHours()).padStart(2, '0');
      const date_value = value + '(' + date_f + ')'
      fetch('/setStatus', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ code: code, value:date_value,parent:parent })
      })
      .then(response => {
        response.text()
        
    })
      .then(data => {
      })
      .catch(error => {
        console.error('Error:', error);
      });

      document.getElementById(code +'_label2').textContent = date_value  
    }


    function toggleSubImages(code) {
        const subImagesDiv = document.getElementById(`sub-images-${code}`);
        subImagesDiv.classList.toggle('show');
    }

    function closeModal(code) {
      document.getElementById(`sub-images-${code}`).classList.toggle('show');
    }

    function show_hangye(code) {
      document.getElementById(`${code}-item-container`).classList.toggle('show');
    }

  </script>
</head>
<body>
  <h1>Image Gallery</h1>
  <div class="image-container">
    <% images.forEach(function(image) { %>
      <div class="image-item">
        <label class="label1 <%=image.color%>" style="display:inline-block;width: 300px;"><%=image.name%></label>
        <label class="label1" style="display:inline-block;width: 100px;">总数量:<%=image.gegus_length%></label>
        <button class="gray" onclick="show_hangye('<%= image.code %>')">显示</button>
        <div class="image-item-container" id="<%=image.code%>-item-container">
          <img src="/images/<%= image.code %>.png" alt="<%= image.code %>"> <br />
          <label class="label1 <%=image.color%>" ><%=image.name%></label> <br />
          <label class="label1" >当前选择状态：  '<label id="<%=image.code%>_label2"><%=image.status%></label>'</label> <br />
          <button class="green" onclick="setStatus('','<%= image.code %>', 'D')">D</button>  <!--下降 --> 
          <button class="blue" onclick="setStatus('','<%= image.code %>', 'W')">W</button> <!--下降 --> 
          <button class="red" onclick="setStatus('','<%= image.code %>', 'U')">U</button>  <!--下降 --> 
        </div>

        <div class="sub-images" id="sub-images-<%= image.code %>">
          <% image.gegus.forEach(function(child) { %>
            <div class="child-item">
              <img src="/images/<%=image.code%>_details/<%=child.code%>.png" alt="${child.code}">
              <div class="content">
                <label class="label1" ><%=image.name%></label> <br />
                <label class="label1 <%=child.color%>" ><%=child.name%></label> <br />
                <label class="label1">当前选择状态：  '<label id="<%=child.code%>_label2"><%=child.status%></label>'</label> <br />
                <button class="green" onclick="setStatus('<%=image.code%>','<%= child.code %>', 'D')">D</button>
                <button class="blue" onclick="setStatus('<%=image.code%>','<%= child.code %>', 'W')">W</button>
                <button class="red" onclick="setStatus('<%=image.code%>','<%= child.code %>', 'U')">U</button>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>
