<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .text-container {
      display: flex;
      flex-direction: column;
    }

    /* 对于移动设备，默认设置为100%宽度 */
    @media (max-width: 768px) {
        .text-containers {
            width: 95%;
        }
    }

    /* 对于桌面设备，设置为50%宽度 */
    @media (min-width: 769px) {
        .text-content {
            width: 100%;
        }
    }

    .text-item {
      display: inline-block;
      /* min-width: 580px; */
      border: 2 solid green; /* Add default border */
    }

    .text-item:nth-child(even) {
      display: inline-block;
      /* min-width: 580px; */
      /* border: 2px solid rgb(232 235 230);  */
      background-color: #f5f7fa;
    }

    .red { background-color: red; color: white; }
    .blue { background-color: blue; color: white; }
    .green { background-color: green; color: white; }
    .gray { background-color: gray; color: white; }
    .display1 {visibility: inherit; color:red;}
    .display0 {visibility: hidden;}

    label.red {color: red; background-color: transparent}
    label.green {color: green; ; background-color: transparent}

    .sub-text{
      display: flex;
      flex-wrap: wrap;
    }

    .child-item {
      display: inline-block;
      /* max-width: 530px; */
      border: 1px solid #ccc; /* Add default border */
      margin-left: 3px;
      margin-bottom: 5px;
    }

    .child-item:nth-child(even) {
      background-color: #c7c9c6;
    }

    .child-item.hidden {
      display: none;
    }

    
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 40px;
      cursor: pointer;
      z-index:10;
    }

    .btn_1 {
      width:50px;
    }
    
</style>
  <script>
    function show_remark(code) {
      eles = document.getElementsByClassName('remark_0');
      for (var i = 0; i < eles.length; i++) {
        eles[i].classList.toggle('hidden');
      }
    }
  </script>
</head>
<body>
  <h1>Summary</h1>
  <button onclick="show_remark()">show_remark</button>
  <div class="text-container">
    <% images.forEach(function(image) { %>
      <div class="text-item">
        <label class="label1 <%=image.color%>" style="display:inline-block;width: 300px;"><%=image.name%></label>
        <label class="label1" style="display:inline-block;width: 100px;">总数量:<%=image.gegus_length%></label> <br />
        <label class="label1" >remark： '<label id="<%=image.code%>_label2"><%=image.status%></label>'</label>

        <div class="sub-text" id="sub-text-<%= image.code %>">
          <% image.gegus.forEach(function(child) { %>
            <div class="child-item remark_<%=child.has_remark%>" >
              <div class="content" style="display: inline-block;">
                <label class="label1" ><%=child.name%></label>
                <label class="label1 <%=child.color_zf%>" ><%=child.f3%>%</label>_ 
                <label class="label1 <%=child.color_zj%>" ><%=child.f62%></label> <br />
                <label class="label1">remark： '<label id="<%=child.code%>_label2"><%=child.status%></label>'</label> <br />
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>
